<h1>Lightview Installation</h1>
<p>This page demonstrates the installation of
  <a href='http://projects.nickstakenburg.com/lightview' target='_blank'>Lightview</a>. It can be used as an example
  when installing Lightview on your domain.</p>

<div class='demonstrations'>
  <!--      <a href='lightview/whitepink.jpg'-->
  <a href='<%= image_url 'lightview/whitepink.jpg' %>'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="Navigation"
     data-lightview-caption="Lightview has mobile-friendly side buttons and pagination for easy navigation.">
    <!--        <img src='lightview/thumbnails/whitepink.jpg' alt=''/>-->
    <%= image_tag 'lightview/thumbnails/whitepink.jpg' %>
  </a>

  <!--      <a href='lightview/white.jpg'-->
  <a href='<%= image_url 'lightview/white.jpg' %>'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="Accessible"
     data-lightview-caption="Navigation is also possible using the keyboard arrows and the mousewheel.">
    <!--        <img src='lightview/thumbnails/white.jpg' alt=''/>-->
    <%= image_tag 'lightview/thumbnails/white.jpg' %>
  </a>

  <!--      <a href='lightview/raindrop.jpg'-->
  <a href='<%= image_url 'lightview/raindrop.jpg' %>'
     class='lightview'
     data-lightview-group='example'
     data-lightview-title="Slideshows"
     data-lightview-caption="Groups have a built-in slideshow, click the play button or press the space bar to start it.">
    <!--        <img src='lightview/thumbnails/raindrop.jpg' alt=''/>-->
    <%= image_tag 'lightview/thumbnails/raindrop.jpg' %>
  </a>

</div>