<!--gallery-->
<div class="gallery">
  <div class="container">
    <div class="wthree_head_section">
      <h3 class="w3l_header">Nuestra <span>Galería</span></h3>
      <p>
        Disfrute de un tratamiento facial o aromaterapia para una ocasión especial. Nuestros servicios
        de belleza y cuidado de la piel se adaptarán a cada necesidad de belleza.
      </p>
    </div>
    <div class="gallery-info">
      <div class="col-md-3 gallery-grids">
<!--        <a href="p1.jpg" class="gallery-box" data-lightbox="example-set" data-title="">-->
        <a href="<%= image_url 'p1.jpg' %>" class="gallery-box" data-lightbox="example-set" data-title="">
          <!--<img src="p1.jpg" alt="" class="img-responsive zoom-img">-->
          <%= image_tag 'p1.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_path 'p1.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_url 'p1.jpg', alt: "", class: 'img-responsive zoom-img' %>
        </a>

      </div>
      <div class="col-md-3 gallery-grids">
<!--        <a href="p2.jpg" class="gallery-box" data-lightbox="example-set" data-title="">-->
        <a href="<%= image_url 'p2.jpg' %>" class="gallery-box" data-lightbox="example-set" data-title="">
          <!--<img src="p2.jpg" alt="" class="img-responsive zoom-img">-->
          <%= image_tag 'p2.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_path 'p2.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_url 'p2.jpg', alt: "", class: 'img-responsive zoom-img' %>
        </a>
      </div>
      <div class="col-md-3 gallery-grids">
<!--        <a href="p3.jpg" class="gallery-box" data-lightbox="example-set" data-title="">-->
        <a href="<%= image_url 'p3.jpg' %>" class="gallery-box" data-lightbox="example-set" data-title="">
          <!--<img src="p3.jpg" alt="" class="img-responsive zoom-img">-->
          <%= image_tag 'p3.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_path 'p3.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_url 'p3.jpg', alt: "", class: 'img-responsive zoom-img' %>
        </a>
      </div>
      <div class="col-md-3 gallery-grids">
<!--        <a href="p4.jpg" class="gallery-box" data-lightbox="example-set" data-title="">-->
        <a href="<%= image_url 'p4.jpg' %>" class="gallery-box" data-lightbox="example-set" data-title="">
          <!--<img src="p4.jpg" alt="" class="img-responsive zoom-img">-->
          <%= image_tag 'p4.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_path 'p4.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_url 'p4.jpg', alt: "", class: 'img-responsive zoom-img' %>
        </a>
      </div>
      <div class="col-md-3 gallery-grids">
<!--        <a href="p5.jpg" class="gallery-box" data-lightbox="example-set" data-title="">-->
        <a href="<%= image_url 'p5.jpg' %>" class="gallery-box" data-lightbox="example-set" data-title="">
          <!--<img src="p5.jpg" alt="" class="img-responsive zoom-img">-->
          <%= image_tag 'p5.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_path 'p5.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_url 'p5.jpg', alt: "", class: 'img-responsive zoom-img' %>
        </a>
      </div>
      <div class="col-md-3 gallery-grids">
<!--        <a href="p6.jpg" class="gallery-box" data-lightbox="example-set" data-title="">-->
        <a href="<%= image_url 'p6.jpg' %>" class="gallery-box" data-lightbox="example-set" data-title="">
          <!--<img src="p6.jpg" alt="" class="img-responsive zoom-img">-->
          <%= image_tag 'p6.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_path 'p6.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_url 'p6.jpg', alt: "", class: 'img-responsive zoom-img' %>
        </a>
      </div>
      <div class="col-md-3 gallery-grids">
<!--        <a href="p7.jpg" class="gallery-box" data-lightbox="example-set" data-title="">-->
        <a href="<%= image_url 'p7.jpg' %>" class="gallery-box" data-lightbox="example-set" data-title="">
          <!--<img src="p7.jpg" alt="" class="img-responsive zoom-img">-->
          <%= image_tag 'p7.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_path 'p7.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_url 'p7.jpg', alt: "", class: 'img-responsive zoom-img' %>
        </a>
      </div>
      <div class="col-md-3 gallery-grids">
<!--        <a href="p8.jpg" class="gallery-box" data-lightbox="example-set" data-title="">-->
        <a href="<%= image_url 'p8.jpg' %>" class="gallery-box" data-lightbox="example-set" data-title="">
          <!--<img src="p8.jpg" alt="" class="img-responsive zoom-img">-->
          <%= image_tag 'p8.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_path 'p8.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_url 'p8.jpg', alt: "", class: 'img-responsive zoom-img' %>
        </a>
      </div>
      <div class="col-md-3 gallery-grids">
<!--        <a href="p9.jpg" class="gallery-box" data-lightbox="example-set" data-title="">-->
        <a href="<%= image_url 'p9.jpg' %>" class="gallery-box" data-lightbox="example-set" data-title="">
          <!--<img src="p9.jpg" alt="" class="img-responsive zoom-img">-->
          <%= image_tag 'p9.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_path 'p9.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_url 'p9.jpg', alt: "", class: 'img-responsive zoom-img' %>
        </a>
      </div>
      <div class="col-md-3 gallery-grids">
<!--        <a href="p10.jpg" class="gallery-box" data-lightbox="example-set" data-title="">-->
        <a href="<%= image_url 'p10.jpg' %>" class="gallery-box" data-lightbox="example-set" data-title="">
          <!--<img src="p10.jpg" alt="" class="img-responsive zoom-img">-->
          <%= image_tag 'p10.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_path 'p10.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_url 'p10.jpg', alt: "", class: 'img-responsive zoom-img' %>
        </a>
      </div>
      <div class="col-md-3 gallery-grids">
<!--        <a href="p11.jpg" class="gallery-box" data-lightbox="example-set" data-title="">-->
        <a href="<%= image_url 'p11.jpg' %>" class="gallery-box" data-lightbox="example-set" data-title="">
          <!--<img src="p11.jpg" alt="" class="img-responsive zoom-img">-->
          <%= image_tag 'p11.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_path 'p11.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_url 'p11.jpg', alt: "", class: 'img-responsive zoom-img' %>
        </a>
      </div>
      <div class="col-md-3 gallery-grids">

<!--        <a href="p12.jpg" class="gallery-box" data-lightbox="example-set" data-title="">-->
        <a href="<%= image_url 'p12.jpg' %>" class="gallery-box" data-lightbox="example-set" data-title="">
          <!--<img src="p12.jpg" alt="" class="img-responsive zoom-img">-->
          <%= image_tag 'p12.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_path 'p12.jpg', alt: "", class: 'img-responsive zoom-img' %>
          <%#= image_url 'p12.jpg', alt: "", class: 'img-responsive zoom-img' %>
        </a>

        <%#= link_to 'p12.jpg', class: 'gallery-box'  do %>
          <%#= image_tag 'p12.jpg', alt: "", class: 'img-responsive zoom-img' %>
<!--      <%# end %>  %>-->



      </div>

      <div class="clearfix"></div>
    </div>


    <h1>Lightview Installation</h1>
    <p>This page demonstrates the installation of <a href='http://projects.nickstakenburg.com/lightview' target='_blank'>Lightview</a>. It can be used as an example when installing Lightview on your domain.</p>

    <div class='demonstrations'>
<!--      <a href='lightview/whitepink.jpg'-->
      <a href='<%= image_url 'lightview/whitepink.jpg' %>'
         class='lightview'
         data-lightview-group='example'
         data-lightview-title="Navigation"
         data-lightview-caption="Lightview has mobile-friendly side buttons and pagination for easy navigation.">
<!--        <img src='lightview/thumbnails/whitepink.jpg' alt=''/>-->
        <%= image_tag 'lightview/thumbnails/whitepink.jpg' %>
      </a>

<!--      <a href='lightview/white.jpg'-->
      <a href='<%= image_url 'lightview/white.jpg' %>'
         class='lightview'
         data-lightview-group='example'
         data-lightview-title="Accessible"
         data-lightview-caption="Navigation is also possible using the keyboard arrows and the mousewheel.">
<!--        <img src='lightview/thumbnails/white.jpg' alt=''/>-->
        <%= image_tag 'lightview/thumbnails/white.jpg' %>
      </a>

<!--      <a href='lightview/raindrop.jpg'-->
      <a href='<%= image_url 'lightview/raindrop.jpg' %>'
         class='lightview'
         data-lightview-group='example'
         data-lightview-title="Slideshows"
         data-lightview-caption="Groups have a built-in slideshow, click the play button or press the space bar to start it.">
<!--        <img src='lightview/thumbnails/raindrop.jpg' alt=''/>-->
        <%= image_tag 'lightview/thumbnails/raindrop.jpg' %>
      </a>

    </div>

    <!--    <script src="lightbox-plus-jquery.min.js"></script>-->
    <%= javascript_include_tag 'lightbox-plus-jquery.min.js' %>

    <!--    <script src="lightbox-plus-jquery.js"></script>-->
  </div>
</div>
<!--//gallery-->











